@import "tailwindcss";

* {
  font-family: "Cinzel", serif;
  font-weight: 600;
}

.serif {
  font-family: sans-serif;
}

.poppins {
  font-family: 'poppins';
  font-weight: normal;
}

.c-base {
  color: #4D0503;
}

.b-base {
  background: #4D0503;
}