@import "tailwindcss";

* {
  font-family: "Cinzel", serif;
}

.serif {
  font-family: sans-serif;
}

.poppins {
  font-family: 'poppins';
}

.c-base {
  color: #740b08;
}
y
.b-base {
  background: #740b08;
}